<!DOCTYPE html>
@using Microsoft.AspNet.Identity
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="bc-wrapper">
        <div class="bc-top">
            <div class="bc-title">
                B&nbsp;e&nbsp;l&nbsp;o&nbsp;f&nbsp;t&nbsp;e&nbsp;C&nbsp;h&nbsp;e&nbsp;c&nbsp;k&nbsp;.&nbsp;n&nbsp;l
            </div>

        </div>

        <div class="bc-mid">
            <div class="bc-left">

                <ul class="bc-ullink">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Over ons", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>&nbsp;</li>

                    @if (Request.IsAuthenticated)

                    {
                        using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()


                            <li>Aangemeld als:</li>

                            <li>    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li>&nbsp;</li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                            <li>&nbsp;</li>
                            <li>@Html.ActionLink("Nieuwe Gebruiker", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Partijen", "Index", "Partijen")</li>
                            <li>@Html.ActionLink("Onderwerpen", "Index", "Onderwerpen")</li>
                            <li>@Html.ActionLink("Wetten", "Index", "Wetten")</li>

                        }
                    }
                    else
                    {

                        <li>@Html.ActionLink("Aanmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                    }
                </ul>

            </div>
            <div class="bc-content">
                @RenderBody()
            </div>
            <div class="bc-right">
                &nbsp;
            </div>
        </div>


        <div class="bc-foot">
            <footer>
                <p>&copy; @DateTime.Now.Year - BelofteCheck.nl - Versie 0.4</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
