@model BelofteCheck.ViewModels.StemmingenListVM
@Html.HiddenFor(model => model.MessageSection.ErrorLevel, new { @class = "bc-msgtrigger", @onchange = "seterror(this)" })

<h2 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3 class="bc-hm">@Html.DisplayFor(model => model.MessageSection.Message)</h3>


@using (Html.BeginForm("CreatEdit", "Stemmingen", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <dl class="bc-dl">
            <dt class="bc-dt">
                @Html.LabelFor(model => model.StemLijst[0].StemDatum)
            </dt>
            <dd class="bc-dd">
                @Html.EditorFor(model => model.StemLijst[0].StemDatum, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StemLijst[0].StemDatum, "", new { @class = "text-danger" })
            </dd>
            <dt class="bc-dt">
                @Html.LabelFor(model => model.StemLijst[0].WetID)
            </dt>
            <dd class="bc-dd">
                @Html.EditorFor(model => model.StemLijst[0].WetID, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StemLijst[0].WetID, "", new { @class = "text-danger" })
            </dd>
            <dt class="bc-dt">
                @Html.LabelFor(model => model.StemLijst[0].WetNaam)
            </dt>
            <dd class="bc-dd">
                @Html.EditorFor(model => model.StemLijst[0].WetNaam, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StemLijst[0].WetNaam, "", new { @class = "text-danger" })
            </dd>
            <dt class="bc-dt">
                @Html.LabelFor(model => model.StemLijst[0].WetType)
            </dt>
            <dd class="bc-dd">
                @Html.EditorFor(model => model.StemLijst[0].WetType, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StemLijst[0].WetType, "", new { @class = "text-danger" })
            </dd>
            <dt class="bc-dt">
                @Html.LabelFor(model => model.StemLijst[0].WetOmschrijving)
            </dt>
            <dd class="bc-dd">
                @Html.EditorFor(model => model.StemLijst[0].WetOmschrijving, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StemLijst[0].WetOmschrijving, "", new { @class = "text-danger" })
            </dd>
            <dt class="bc-dt">
                @Html.LabelFor(model => model.StemLijst[0].WetLink)
            </dt>
            <dd class="bc-dd">
                @Html.EditorFor(model => model.StemLijst[0].WetLink, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StemLijst[0].WetLink, "", new { @class = "text-danger" })
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Opslaan" class="bc-button" /> &nbsp;

            @Html.ActionLink("Naar Overzicht", "Index")

        </div>
    </div>


    <p>&nbsp;</p>
    <h4 class="bc-h">Stemuitslag</h4>
    <div class="form-group">
        <table class="bc-table">
            @if (Model.StemLijst != null)
            {
                var i = 0;


                foreach (var item1 in Model.StemLijst)
                {

                    if (i == 0)

                    {
                        <tr>
                            <th class="bc-08">
                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].PartijID)
                            </th>
                            <th class="bc-16">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].PartijNaam)
                            </th>
                            <th class="bc-08">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].Voor)
                            </th>
                            <th class="bc-08">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].Tegen)
                            </th>
                            <th class="bc-08">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].Blanco)
                            </th>
                            <th class="bc-08">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].PartijZetels)
                            </th>
                            <th class="bc-08">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].Error)
                            </th>
                            <th class="bc-36">

                                @Html.DisplayNameFor(Item1 => Item1.StemLijst[i].Message)
                            </th>

                        </tr>

                    }
                    <tr>

                        <td class="bc-08">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].PartijID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].PartijID, "", new { @class = "text-danger" })
                        </td>
                        <td class="bc-16">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].PartijNaam, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].PartijNaam, "", new { @class = "text-danger" })
                        </td>
                        <td class="bc-08">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].Voor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].Voor, "", new { @class = "text-danger" })

                        </td>
                        <td class="bc-08">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].Tegen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].Tegen, "", new { @class = "text-danger" })

                        </td>
                        <td class="bc-08">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].Blanco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].Blanco, "", new { @class = "text-danger" })

                        </td>
                        <td class="bc-08">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].PartijZetels, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].PartijZetels, "", new { @class = "text-danger" })

                        </td>
                        <td class="bc-08">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].Error, new { htmlAttributes = new { @class = "bc-flag", @readonly = "readonly", @onchange = "setmsg(this)" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].Error, "", new { @class = "text-danger" })

                        </td>
                        <td class="bc-36">
                            @Html.EditorFor(Item1 => Item1.StemLijst[i].Message, new { htmlAttributes = new { @class = "bc-emsg bc-field", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(Item1 => Item1.StemLijst[i].Message, "", new { @class = "text-danger" })
                            @Html.HiddenFor(Item1 => Item1.StemLijst[i].WetID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.HiddenFor(Item1 => Item1.StemLijst[i].StemDatum, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </td>

                    </tr>
                    i = i + 1;
                }
            }

        </table>

    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
