@model BelofteCheck.ViewModels.StemmingenListVM
<h2 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<dl class="bc-dl">
    <dt class="bc-dt">
        @Html.DisplayNameFor(model => model.StemLijst[0].StemDatum)
    </dt>
    <dd class="bc-dd">
        @Html.DisplayFor(model => model.StemLijst[0].StemDatum)
    </dd>
    <dt class="bc-dt">
        @Html.DisplayNameFor(model => model.StemLijst[0].WetID)
    </dt>

    <dd class="bc-dd">
        @Html.DisplayFor(model => model.StemLijst[0].WetID)
    </dd>
    <dt class="bc-dt">
        @Html.DisplayNameFor(model => model.StemLijst[0].WetNaam)
    </dt>

    <dd class="bc-dd">
        @Html.DisplayFor(model => model.StemLijst[0].WetNaam)
    </dd>
    <dt class="bc-dt">
        @Html.DisplayNameFor(model => model.StemLijst[0].WetType)
    </dt>

    <dd class="bc-dd">
        @Html.DisplayFor(model => model.StemLijst[0].WetType)
    </dd>
    <dt class="bc-dt">
        @Html.DisplayNameFor(model => model.StemLijst[0].WetOmschrijving)
    </dt>

    <dd class="bc-dd">
        @Html.DisplayFor(model => model.StemLijst[0].WetOmschrijving)
    </dd>
    <dt class="bc-dt">
        @Html.DisplayNameFor(model => model.StemLijst[0].WetLink)
    </dt>

    <dd class="bc-dd">
        @Html.DisplayFor(model => model.StemLijst[0].WetLink)
    </dd>


</dl>

<div>

   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StemLijst[0].PartijID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StemLijst[0].Voor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StemLijst[0].Tegen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StemLijst[0].Blanco)
            </th>

        </tr>

        @foreach (var item in Model.StemLijst)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartijID)
                </td>
  
                <td>
                    @Html.DisplayFor(modelItem => item.Voor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tegen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blanco)
                </td>

            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Bewerk", "Create", new {WetID = Model.StemLijst[0].WetID, StemDatum = Model.StemLijst[0].StemDatum }) |
    @Html.ActionLink("Naar Overzicht", "Index")
</p>
