@model BelofteCheck.ViewModels.StemmingenListVM
@Html.HiddenFor(model => model.MessageSection.ErrorLevel, new { @class = "bc-msgtrigger", @onchange = "seterror(this)" })

<h2 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3 class="bc-hm">@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<p>
    @Html.ActionLink("Nieuw", "Index", "Wetten") (nieuwe stemming invoeren via het wettenscherm !)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StemLijst[0].WetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StemLijst[0].WetNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StemLijst[0].StemDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StemLijst[0].Voor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StemLijst[0].Tegen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StemLijst[0].Blanco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.StemLijst)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WetNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StemDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tegen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blanco)
            </td>
            <td>
                @Html.ActionLink("Bewerk", "Create", new { WetID = item.WetID, StemDatum = item.StemDatum }) |
                @Html.ActionLink("Bekijk", "Details", new { WetID = item.WetID, StemDatum = item.StemDatum }) |
                @Html.ActionLink("Verwijder", "Delete", new { WetID = item.WetID, StemDatum = item.StemDatum })
            </td>
        </tr>
    }

</table>
