@model BelofteCheck.ViewModels.WettenListVM


<h2>@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3>@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<p>
    @Html.ActionLink("Nieuw","Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WettenLijst[0].WetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WettenLijst[0].WetNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WettenLijst[0].WetOmschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WettenLijst[0].WetLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.WettenLijst)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.WetID)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.WetNaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WetOmschrijving)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WetLink)
    </td>
    <td>
        @Html.ActionLink("Bewerk", "Edit", new { WetID = item.WetID }) |
        @Html.ActionLink("Details", "Details", new { WetID = item.WetID }) |
        @Html.ActionLink("Verwijder", "Delete", new { WetID = item.WetID })
    </td>
</tr>
    }

</table>
