@model BelofteCheck.ViewModels.PartijenVM

<h2>@Html.DisplayFor(model => model.MessageSection.Title) &nbsp;
@Html.EditorFor(model => model.DeleteAllowed, new { htmlAttributes = new { @class = "bc-dacheck", @disabled = "disabled" } })</h2>


<h3>@Html.DisplayFor(model => model.MessageSection.Message)</h3>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.partij.PartijNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partij.PartijNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partij.AantalZetels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partij.AantalZetels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partij.VanDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partij.VanDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partij.TotDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partij.TotDatum)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default bc-active" /> |
            @Html.ActionLink("Naar Overzicht", "Index")
        </div>
    }
</div>
<p>&nbsp;</p>
<h4>Stemgedrag</h4>
<table class="bc-table">
    @if (Model.StemmingenLijst != null)
    {
        var i = 0;
        foreach (var item1 in Model.StemmingenLijst)
        {
            if (i == 0)
            {
                <tr>
                    <th class="bc-16">
                        @Html.DisplayNameFor(Item1 => Item1.StemmingenLijst[i].WetID)
                    </th>
                    <th class="bc-40">
                        @Html.DisplayNameFor(Item1 => Item1.StemmingenLijst[i].WetNaam)
                    </th>
                    <th class="bc-10">
                        @Html.DisplayNameFor(Item1 => Item1.StemmingenLijst[i].Voor)
                    </th>
                    <th class="bc-10">
                        @Html.DisplayNameFor(Item1 => Item1.StemmingenLijst[i].Tegen)
                    </th>
                    <th class="bc-10">
                        @Html.DisplayNameFor(Item1 => Item1.StemmingenLijst[i].Blanco)
                    </th>
                </tr>

            }
            <tr>

                <td class="bc-16">
                    @Html.DisplayFor(Item1 => Item1.StemmingenLijst[i].WetID)

                </td>
                <td class="bc-40">
                    @Html.DisplayFor(Item1 => Item1.StemmingenLijst[i].WetNaam)

                </td>
                <td class="bc-10">
                    @Html.DisplayFor(Item1 => Item1.StemmingenLijst[i].Voor)
                </td>
                <td class="bc-10">
                    @Html.DisplayFor(Item1 => Item1.StemmingenLijst[i].Tegen)
                </td>
                <td class="bc-10">
                    @Html.DisplayFor(Item1 => Item1.StemmingenLijst[i].Blanco)
                </td>
            </tr>
            i = i + 1;
        }
    }
</table>