@model BelofteCheck.ViewModels.PartijenListVM
@Html.HiddenFor(model => model.MessageSection.ErrorLevel, new { @class = "bc-msgtrigger", @onchange = "seterror(this)" })


<h2 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<p>
    @Html.ActionLink("Nieuw", "Create") |
    @Html.ActionLink("Controleer kamerbezetting", "Verify")
</p>
<table class="table">
    <tr>
        <th class="bc16">
            @Html.DisplayNameFor(model => model.PartijenLijst[0].PartijID)
        </th>
        <th class="bc-36">
            @Html.DisplayNameFor(model => model.PartijenLijst[0].PartijNaam)
        </th>

        <th class="bc-16"></th>
    </tr>

    @foreach (var item in Model.PartijenLijst)
    {
        <tr>
            <td class="bc-16">
                @Html.DisplayFor(modelItem => item.PartijID)
            </td>
            <td class="bc-36">
                @Html.DisplayFor(modelItem => item.PartijNaam)
            </td>

            <td class="bc-16">
                @Html.ActionLink("Bewerk", "Edit", new { PartijID = item.PartijID }) |
                @Html.ActionLink("Bekijk", "Details", new { PartijID = item.PartijID }) |
                @Html.ActionLink("Verwijder", "Delete", new { PartijID = item.PartijID })
            </td>
        </tr>
    }

</table>
