@model BelofteCheck.ViewModels.PartijenListVM


<h2>@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3>@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<p>
    @Html.ActionLink("Nieuw", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartijenLijst[0].PartijID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartijenLijst[0].PartijNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartijenLijst[0].AantalZetels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartijenLijst[0].VanDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartijenLijst[0].TotDatum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PartijenLijst)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PartijID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PartijNaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AantalZetels)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VanDatum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotDatum)
    </td>
    <td>
        @Html.ActionLink("Bewerk", "Edit", new { PartijID = item.PartijID }) |
        @Html.ActionLink("Bekijk", "Details", new { PartijID = item.PartijID }) |
        @Html.ActionLink("Verwijder", "Delete", new { PartijID = item.PartijID })
    </td>
</tr>
    }

</table>
