@model BelofteCheck.ViewModels.ZetelControleVM

@Html.HiddenFor(model => model.MessageSection.ErrorLevel, new { @class = "bc-msgtrigger", @onchange = "seterror(this)" })

<h2 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3 class="bc-hm">@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<div>
    <p>

        @Html.ActionLink("Naar Overzicht", "Index")
    </p>
    <hr />

    <table class="bc-table">
        @if (Model.Periodes != null)
        {
            var i = 0;

            foreach (var item1 in Model.Periodes)
            {
                <tr>

                    <td class="bc-16 bc-blue1">
                        @Html.DisplayNameFor(model => model.Periodes[i].VanDatum) :
                        @Html.DisplayFor(model => model.Periodes[i].VanDatum)
                    </td>
                    <td class="bc-84 bc-blue1">
                        &nbsp;
                    </td>

                </tr>
                <tr>
                    <td class="bc-16">
                        @Html.DisplayNameFor(model => model.Periodes[i].ZetelTotaal) :
                        @Html.DisplayFor(model => model.Periodes[i].ZetelTotaal)
                        @Html.Encode(" (")

                        @Html.DisplayFor(model => model.Periodes[i].ZetelCheck)
                        @Html.Encode(")")
                    </td>
                    <td class="bc-84">
                        @if ((Model.Periodes[i].ZetelVerdeling != null) && (Model.Periodes[i].ZetelVerdeling.Count != 0))
                        {
                            var j = 0;
                            foreach (var item2 in Model.Periodes[i].ZetelVerdeling)
                            {
                                @Html.DisplayFor(model => model.Periodes[i].ZetelVerdeling[j].PartijID)
                                @Html.Encode(" : ")
                                @Html.DisplayFor(model => model.Periodes[i].ZetelVerdeling[j].AantalZetels)

                                @Html.Encode(" | ")
                                j = j + 1;
                            }
                        }
                        else
                        {
                            @Html.Encode("Geen partijzetels gevonden!")
                        }

                    </td>

                </tr>

                <tr>

                    <td class="bc-16 bc-blue2">
                        @Html.DisplayNameFor(model => model.Periodes[i].TotDatum) :
                        @Html.DisplayFor(model => model.Periodes[i].TotDatum)
                    </td>
                    <td class="bc-84 bc-blue2">
                        &nbsp;
                    </td>
                </tr>

                i = i + 1;
            }



        }
    </table>



</div>
