@model BelofteCheck.ViewModels.OnderwerpenVM



<h2>@Html.DisplayFor(model => model.MessageSection.Title) &nbsp; 
    @Html.EditorFor(model => model.DeleteAllowed, new { htmlAttributes = new { @class = "bc-dacheck", @hidden = "hidden" } })</h2>

<h3>@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.onderwerp.OnderwerpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onderwerp.OnderwerpID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.onderwerp.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onderwerp.Omschrijving)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Verwijderen" class="btn btn-default bc-active" />  &nbsp;
        @Html.ActionLink("Naar Overzicht", "Index")
    </div>
    }
    <p>&nbsp;</p>


    <h4>Gerelateerde wetten</h4>
    <table class="bc-table">
        @if (Model.WettenLijst != null)
        {
            var i = 0;
            foreach (var item1 in Model.WettenLijst)
            {
                if (i == 0)
                {
                    <tr>
                        <th class="bc-16">
                            @Html.DisplayNameFor(Item1 => Item1.WettenLijst[i].WetID)
                        </th>
                        <th class="bc-40">
                            @Html.DisplayNameFor(Item1 => Item1.WettenLijst[i].WetNaam)
                        </th>
                        <th class="bc-40">
                            @Html.DisplayNameFor(Item1 => Item1.WettenLijst[i].Toelichting)
                        </th>
                    </tr>

                }
                <tr>

                    <td class="bc-16">
                        @Html.DisplayFor(Item1 => Item1.WettenLijst[i].WetID)

                    </td>
                    <td class="bc-40">
                        @Html.DisplayFor(Item1 => Item1.WettenLijst[i].WetNaam)

                    </td>
                    <td class="bc-40">
                        @Html.DisplayFor(Item1 => Item1.WettenLijst[i].Toelichting)
                    </td>
                </tr>
                i = i + 1;
            }
        }
    </table>

</div>
