@model BelofteCheck.ViewModels.OnderwerpenVM

<h2>@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3>@Html.DisplayFor(model => model.MessageSection.Message)</h3>
<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bewerk", "Edit", new { OnderwerpID = Model.OnderwerpID }) |
    @Html.ActionLink("Naar Overzicht", "Index")
</p>
